/*
 * Twikoo 魔改  高度和隐藏图片
 */
 
.tk-input[data-v-619b4c52]
  .el-textarea__inner{
    min-height: 180px !important;
  }
  .el-textarea__inner:focus{
      background-image: none !important;
  }

/*
 * Twikoo 表情放大
 */

.tk-owo-emotion{
  min-height: 100px !important;
  min-width: 100px !important;
}

/*
 * top-img黑色透明玻璃效果移除
 */
 
#page-header.post-bg:before {
  background-color: transparent!important;
}

/*
 * 头图透明
 */
 
#page-header{
  background: transparent!important;
}

/*
 * 页脚透明
 */
 
#footer{
    background: transparent!important;
}

/*
 * 夜间模式伪类遮罩层透明
 */
 
[data-theme="dark"] #footer::before{
  background: transparent!important;
}
[data-theme="dark"] #page-header::before{
  background: transparent!important;
}

/*
 * 卡片背景透明度
 * 分割线颜色 hr-border
 * 卡片背景 颜色 不透明度 card-bg
 */

:root {
  /* --card-bg: #fff; */
  --card-bg: #ffefefd9;
}

[data-theme="dark"] {
  /* --card-bg: #121212; */
  --card-bg: #12121288;
  --btn-hover-color: #787878;
  --btn-bg: #1f1f1f;
  /* --font-color: rgba(255,255,255,0.7); */
  /* --hr-border: rgba(255,255,255,0.4); */
  --font-color: rgb(255, 255, 255);
  --hr-border: rgb(153,204,255);
}

.mermaid {
  background: transparent!important;
}